:root {
  /********************************************************
   * CORE COLORS
   ********************************************************/

  --primary-hs: 241, 63%;
  --primary-l5: 59%;
  --primary-l1: calc(var(--primary-l5) - 35%);
  --primary-l2: calc(var(--primary-l5) - 25%);
  --primary-l3: calc(var(--primary-l5) - 15%);
  --primary-l4: calc(var(--primary-l5) - 5%);
  --primary-l6: calc(var(--primary-l5) + 10%);
  --primary-l7: calc(var(--primary-l5) + 15%);
  --primary-l8: calc(var(--primary-l5) + 25%);
  --primary-l9: calc(var(--primary-l5) + 35%);

  --primary-color-1: hsl(var(--primary-hs), var(--primary-l1));
  --primary-color-2: hsl(var(--primary-hs), var(--primary-l2));
  --primary-color-3: hsl(var(--primary-hs), var(--primary-l3));
  --primary-color-4: hsl(var(--primary-hs), var(--primary-l4));
  --primary-color-5: hsl(var(--primary-hs), var(--primary-l5));
  --primary-color-6: hsl(var(--primary-hs), var(--primary-l6));
  --primary-color-7: hsl(var(--primary-hs), var(--primary-l7));
  --primary-color-8: hsl(var(--primary-hs), var(--primary-l8));
  --primary-color-9: hsl(var(--primary-hs), var(--primary-l9));

  --secondary-hs: var(--primary-hs);
  --secondary-l5: var(--primary-l8);
  --secondary-l1: calc(var(--secondary-l5) - 20%);
  --secondary-l2: calc(var(--secondary-l5) - 15%);
  --secondary-l3: calc(var(--secondary-l5) - 10%);
  --secondary-l4: calc(var(--secondary-l5) - 5%);
  --secondary-l6: calc(var(--secondary-l5) + 4%);
  --secondary-l7: calc(var(--secondary-l5) + 7%);
  --secondary-l8: calc(var(--secondary-l5) + 11%);
  --secondary-l9: calc(var(--secondary-l5) + 14%);

  --secondary-color-1: hsl(var(--secondary-hs), var(--secondary-l1));
  --secondary-color-2: hsl(var(--secondary-hs), var(--secondary-l2));
  --secondary-color-3: hsl(var(--secondary-hs), var(--secondary-l3));
  --secondary-color-4: hsl(var(--secondary-hs), var(--secondary-l4));
  --secondary-color-5: hsl(var(--secondary-hs), var(--secondary-l5));
  --secondary-color-6: hsl(var(--secondary-hs), var(--secondary-l6));
  --secondary-color-7: hsl(var(--secondary-hs), var(--secondary-l7));
  --secondary-color-8: hsl(var(--secondary-hs), var(--secondary-l8));
  --secondary-color-9: hsl(var(--secondary-hs), var(--secondary-l9));

  /********************************************************
   * GRAY COLORS
   ********************************************************/

  --light-color: #fff;

  --gray-hs: 0, 0%;
  --gray-l5: 62%;
  --gray-l1: calc(var(--gray-l5) - 30%);
  --gray-l2: calc(var(--gray-l5) - 20%);
  --gray-l3: calc(var(--gray-l5) - 15%);
  --gray-l4: calc(var(--gray-l5) - 10%);
  --gray-l6: calc(var(--gray-l5) + 20%);
  --gray-l7: calc(var(--gray-l5) + 25%);
  --gray-l8: calc(var(--gray-l5) + 30%);
  --gray-l9: calc(var(--gray-l5) + 35%);

  --gray-color-1: hsl(var(--gray-hs), var(--gray-l1));
  --gray-color-2: hsl(var(--gray-hs), var(--gray-l2));
  --gray-color-3: hsl(var(--gray-hs), var(--gray-l3));
  --gray-color-4: hsl(var(--gray-hs), var(--gray-l4));
  --gray-color-5: hsl(var(--gray-hs), var(--gray-l5));
  --gray-color-6: hsl(var(--gray-hs), var(--gray-l6));
  --gray-color-7: hsl(var(--gray-hs), var(--gray-l7));
  --gray-color-8: hsl(var(--gray-hs), var(--gray-l8));
  --gray-color-9: hsl(var(--gray-hs), var(--gray-l9));

  --border-color: var(--gray-color-8);
  --border-color-dark: var(--gray-color-7);
  --border-color-light: var(--gray-color-9);

  --bg-color: var(--gray-color-8);
  --bg-color-dark: var(--gray-color-9);
  --bg-color-light: var(--light-color);

  /********************************************************
   * CONTROL COLORS
   ********************************************************/

  --success-color: hsl(128, 57%, 45%);
  --warning-color: hsl(43, 100%, 50%);
  --error-color: hsl(22, 100%, 45%);

  /********************************************************
   * OTHER COLORS
   ********************************************************/

  --code-color: hsl(356, 66%, 54%);
  --highlight-color: hsl(43, 100%, 85%);
  --body-bg: var(--bg-color-light);
  --body-font-color: hsl(217, 16%, 27%);
  --link-color: var(--primary-color-5);
  --link-color-dark: hsl(var(--primary-hs), calc(var(--primary-l5) - 10%));
  --link-color-light: hsl(var(--primary-hs), calc(var(--primary-l5) + 10%));

  --shadow-1: 0 0 0 0.1rem var(--primary-color-9);

  /********************************************************
   *
   * FONTS
   *
   * Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
   *
   ********************************************************/

  --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  --mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  --fallback-font-family: "Helvetica Neue", sans-serif;
  --body-font-family: var(--base-font-family), var(--fallback-font-family);

  /********************************************************
    * FONT SIZES
    ********************************************************/

  --html-font-size: 20px;
  --html-line-height: 1.5;
  --font-size: 0.8rem;
  --font-size-sm: 0.7rem;
  --font-size-lg: 0.9rem;
  --line-height: 1.2rem;

  /********************************************************
   * UNIT SIZES
   ********************************************************/

  --unit-o: 0.05rem;
  --unit-h: 0.1rem;
  --unit-1: 0.2rem;
  --unit-2: 0.4rem;
  --unit-3: 0.6rem;
  --unit-4: 0.8rem;
  --unit-5: 1rem;
  --unit-6: 1.2rem;
  --unit-7: 1.4rem;
  --unit-8: 1.6rem;
  --unit-9: 1.8rem;
  --unit-10: 2rem;
  --unit-12: 2.4rem;
  --unit-16: 3.2rem;

  /********************************************************
   * SIZES
   ********************************************************/

  --layout-spacing: var(--unit-2);
  --layout-spacing-sm: var(--unit-1);
  --layout-spacing-lg: var(--unit-4);
  --border-radius: var(--unit-h);
  --border-width: var(--unit-o);
  --border-width-lg: var(--unit-h);
  --size: var(--unit-9);
  --size-sm: var(--unit-7);
  --size-lg: var(--unit-10);
  --padding-x: var(--unit-2);
  --padding-x-sm: calc(var(--unit-2) * 0.75);
  --padding-x-lg: calc(var(--unit-2) * 1.5);
  --padding-y: calc((var(--size) - var(--line-height)) / 2 - var(--border-width));
  --padding-y-sm: calc((var(--size-sm) - var(--line-height)) / 2 - var(--border-width));
  --padding-y-lg: calc((var(--size-lg) - var(--line-height)) / 2 - var(--border-width));
  --icon-size: 0.8rem;
  --width-xs: 180px;
  --width-sm: 320px;
  --width-md: 640px;
  --width-lg: 960px;
  --width-xl: 1280px;

  /********************************************************
   * BREAKPOINTS
   ********************************************************/

  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;
  --breakpoint-2x: 1440px;
  --breakpoint-responsive: var(--breakpoint-xs);

  /********************************************************
   * Z-INDEX
   ********************************************************/

  --zindex-0: 1;
  --zindex-1: 100;
  --zindex-2: 200;
  --zindex-3: 300;
  --zindex-4: 400;
}
