:root {
  /********************************************************
   * CORE COLORS
   ********************************************************/

  --primary-hs: 241, 63%;
  --primary-l: 59%;
  --primary-dark-l: calc(var(--primary-l) - 3%);
  --primary-light-l: calc(var(--primary-l) + 3%);

  --primary-color: hsl(var(--primary-hs), var(--primary-l));
  --primary-color-dark: hsl(var(--primary-hs), var(--primary-dark-l));
  --primary-color-light: hsl(var(--primary-hs), var(--primary-light-l));

  --secondary-hs: --primary-hs;
  --secondary-l: calc(var(--primary-l) + 37.5%);
  --secondary-dark-l: calc(var(--secondary-l) - 3%);
  --secondary-light-l: calc(var(--secondary-l) + 3%);

  --secondary-color: hsl(var(--secondary-hs), var(--secondary-l));
  --secondary-color-dark: hsl(var(--secondary-hs), var(--secondary-dark-l));
  --secondary-color-light: hsl(var(--secondary-hs), var(--secondary-light-l));

  /********************************************************
   * GRAY COLORS
   ********************************************************/

  --dark-hs: 217, 16%;
  --dark-l: 22%;
  --dark-color: hsl(var(--dark-hs), 22%);
  --light-color: #fff;

  --gray-color: hsl(var(--dark-hs), calc(var(--dark-l) + 55%));
  --gray-color-dark: hsl(var(--dark-hs), calc(var(--dark-l) - 7%));
  --gray-color-light: hsl(var(--dark-hs), calc(var(--dark-l) + 20%));

  --border-color: hsl(var(--dark-hs), calc(var(--dark-l) + 65%));
  --border-color-dark: hsl(var(--dark-hs), calc(var(--dark-l) + 55%));
  --border-color-light: hsl(var(--dark-hs), calc(var(--dark-l) + 73%));

  --bg-color: hsl(var(--dark-hs), calc(var(--dark-l) + 75%));
  --bg-color-dark: hsl(var(--dark-hs), calc(var(--dark-l) + 72%));
  --bg-color-light: var(--light-color);

  /********************************************************
   * CONTROL COLORS
   ********************************************************/

  --success-color: hsl(128, 57%, 45%);
  --warning-color: hsl(43, 100%, 50%);
  --error-color: hsl(22, 100%, 45%);

  /********************************************************
   * OTHER COLORS
   ********************************************************/

  --code-color: hsl(356, 66%, 54%);
  --highlight-color: hsl(43, 100%, 85%);
  --body-bg: var(--bg-color-light);
  --body-font-color: hsl(217, 16%, 27%);
  --link-color: var(--primary-color);
  --link-color-dark: hsl(var(--primary-hs), calc(var(--primary-l) - 10%));
  --link-color-light: hsl(var(--primary-hs), calc(var(--primary-l) + 10%));

  /********************************************************
   *
   * FONTS
   *
   * Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
   *
   ********************************************************/

  --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  --mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  --fallback-font-family: "Helvetica Neue", sans-serif;
  --body-font-family: var(--base-font-family), var(--fallback-font-family);

  /********************************************************
   * UNIT SIZES
   ********************************************************/

  --unit-o: 0.05rem;
  --unit-h: 0.1rem;
  --unit-1: 0.2rem;
  --unit-2: 0.4rem;
  --unit-3: 0.6rem;
  --unit-4: 0.8rem;
  --unit-5: 1rem;
  --unit-6: 1.2rem;
  --unit-7: 1.4rem;
  --unit-8: 1.6rem;
  --unit-9: 1.8rem;
  --unit-10: 2rem;
  --unit-12: 2.4rem;
  --unit-16: 3.2rem;

  /********************************************************
   * FONT SIZES
   ********************************************************/

  --html-font-size: 20px;
  --html-line-height: 1.5;
  --font-size: 0.8rem;
  --font-size-sm: 0.7rem;
  --font-size-lg: 0.9rem;
  --line-height: 1.2rem;

  /********************************************************
   * SIZES
   ********************************************************/

  --layout-spacing: var(--unit-2);
  --layout-spacing-sm: var(--unit-1);
  --layout-spacing-lg: var(--unit-4);
  --border-radius: var(--unit-h);
  --border-width: var(--unit-o);
  --border-width-lg: var(--unit-h);
  --size: var(--unit-9);
  --size-sm: var(--unit-7);
  --size-lg: var(--unit-10);
  --padding-x: var(--unit-2);
  --padding-x-sm: calc(var(--unit-2) * 0.75);
  --padding-x-lg: calc(var(--unit-2) * 1.5);
  --padding-y: calc((var(--size) - var(--line-height)) / 2 - var(--border-width));
  --padding-y-sm: calc((var(--size-sm) - var(--line-height)) / 2 - var(--border-width));
  --padding-y-lg: calc((var(--size-lg) - var(--line-height)) / 2 - var(--border-width));
  --icon-size: 0.8rem;
  --width-xs: 180px;
  --width-sm: 320px;
  --width-md: 640px;
  --width-lg: 960px;
  --width-xl: 1280px;

  /********************************************************
   * BREAKPOINTS
   ********************************************************/

  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;
  --breakpoint-2x: 1440px;
  --breakpoint-responsive: var(--breakpoint-xs);

  /********************************************************
   * Z-INDEX
   ********************************************************/

  --zindex-0: 1;
  --zindex-1: 100;
  --zindex-2: 200;
  --zindex-3: 300;
  --zindex-4: 400;
}
