:root {
  /********************************************************
   * COLORS
   ********************************************************/

  --x-color-primary: #0f7bc2;
  --x-color-primary-alt: #0a588b;
  --x-color-primary-light: #45a3e6;
  --x-color-primary-lighter: #8ac7fc;
  --x-color-primary-lighteralt: #cfe9ff;
  --x-color-primary-dark: #063f65;
  --x-color-primary-darker: #05304d;
  --x-color-primary-darkalt: #084b77;

  --x-color-info: #0f7bc2;
  --x-color-danger: #eb0000;
  --x-color-danger-dark: #b30000;
  --x-color-success: #008a00;
  --x-color-warning: #c88800;

  --x-color-gray: #919191;
  --x-color-gray-alt: #5e5e5e;
  --x-color-gray-light: #acacac;
  --x-color-gray-lighter: #c4c4c4;
  --x-color-gray-lighteralt: #dedede;
  --x-color-gray-dark: #2b2b2b;
  --x-color-gray-darker: #141414;
  --x-color-gray-darkalt: #3b3b3b;

  --x-color-text: var(--x-color-gray-dark);
  --x-color-text-dark: var(--x-color-gray-darker);
  --x-color-text-disabled: var(--x-color-gray);

  --x-color-overlay: rgba(0, 0, 0, 0.75);

  /********************************************************
   * LAYOUT
   ********************************************************/

  --x-spacing-tiny: 0.25rem;
  --x-spacing-mini: 0.5rem;
  --x-spacing-small: 0.75rem;
  --x-spacing-medium: 1rem;
  --x-spacing-large: 1.5rem;
  --x-spacing-big: 2rem;
  --x-spacing-huge: 2.5rem;
  --x-spacing-jumbo: 3rem;
  --x-spacing-giant: 4rem;

  /********************************************************
   * FONT
   ********************************************************/

  --x-font-tiny: 0.675rem;
  --x-font-mini: 0.75rem;
  --x-font-small: 0.875rem;
  --x-font-medium: 1rem;
  --x-font-large: 1.25rem;
  --x-font-big: 1.5rem;
  --x-font-huge: 2rem;
  --x-font-jumbo: 2.5rem;
  --x-font-giant: 3rem;
  --x-font-family: "Open Sans", sans-serif;

  --x-line-tiny: 0.75rem;
  --x-line-mini: 1rem;
  --x-line-small: 1.25rem;
  --x-line-medium: 1.5rem;
  --x-line-large: 1.75rem;
  --x-line-big: 2rem;
  --x-line-huge: 2.25rem;
  --x-line-jumbo: 2.5rem;
  --x-line-giant: 3rem;

  /********************************************************
   * GENERAL
   ********************************************************/

  --x-animation-duration: 350ms;

  --x-radius-small: 0.2rem;
  --x-radius-medium: 0.4rem;

  --x-zindex-0: 1;
  --x-zindex-1: 100;
  --x-zindex-2: 200;
  --x-zindex-3: 300;
  --x-zindex-4: 400;

  /********************************************************
   * ALERT
   ********************************************************/

  --x-alert-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  --x-alert-padding: var(--x-spacing-small);

  /********************************************************
   * AVATAR
   ********************************************************/

  --x-avatar-border-width: 0.1rem;
  --x-avatar-size-mini: 1rem;
  --x-avatar-size-small: 1.2rem;
  --x-avatar-size-medium: 1.6rem;
  --x-avatar-size-large: 2.4rem;
  --x-avatar-size-big: 3.2rem;

  /********************************************************
   * DIALOG
   ********************************************************/

  --x-dialog-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  --x-dialog-padding: var(--x-spacing-small);

  /********************************************************
   * ICON
   ********************************************************/

  --x-icon-size-small: 0.75rem;
  --x-icon-size-medium: 1rem;
  --x-icon-size-large: 1.5rem;
  --x-icon-size-big: 2.25rem;
  --x-icon-size-huge: 3.5rem;
  --x-icon-size-jumbo: 4.75rem;
  --x-icon-size-giant: 6rem;

  /********************************************************
   * POPOVER
   ********************************************************/

  --x-popover-arrow-size: var(--x-spacing-mini);
  --x-popover-background: white;
  --x-popover-border-color: var(--x-color-gray-light);
  --x-popover-border-size: 1px;
  --x-popover-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  --x-popover-padding: var(--x-spacing-mini);

  /********************************************************
   * TABS
   ********************************************************/

  --x-tabs-color: 0;
  --x-tabs-tab-padding: 0 var(--x-spacing-mini);
  --x-tabs-tab-background: #fff;
  --x-tabs-tab-background-selected: #f7f7f7;

  /********************************************************
   * TOOLTIP
   ********************************************************/

  --x-tooltip-arrow-size: var(--x-radius-medium);
  --x-tooltip-background: var(--x-color-gray-dark);
  --x-tooltip-max-width: 320px;
  --x-tooltip-padding: 0.3rem 0.6rem;
}
